{{!-- router.get('/lovequiz', function(req, res) {
    res.render('initial-quiz', {layout: 'inital.handlebars'});
}); --}}
    <section class="about-header padding container">
        <p class="title">About Click</p>
        <p class="subtitle">Finding Love that Clicks</p>
    </section>

    <section class="purpose padding container">
        <p class="problem">Finding love is hard, even for celebrities. Celebrities are experts in thier field, but are
            only
            a fraction of the experts in the world. We want to connect experts, both celebrities and connoisseurs in
            thier
            an industry, together.</p>
        <p class="solution">CLICK is building a community that allows you to find your "click" within industries that
            you
            are knowledgable about. Among the plethora of dating apps, <span class="emphesis">we lose quality</span>. With our unique entry quiz that is
            shaped to the common interest people are looking for, we use a common interest and baseline knowledge as a
            spring board to finding love. For the priliminary application, we focused on the commonality and love for
            technology. We bring together experts and celebrities wtihin the technological industry for the potential of
            finding love. Future development would allow users to choose a specific industry or hobby, complete a short
            quiz, and be free to find their click.</p>
    </section>

    <section class="team padding container-fluid">
        <div class="row">
            <h1 class="teamTitle">Meet The Clique</h1>
        </div>
        <div class="row">
            <div class="col-3 Isabel team">
                <img src="/imgs/profilepic/isabel.jpg" class="profilePic">
                <p class="teamName">Isabel</p>
                <p class="description">
                    Isabel's interest in Human-Computer Interaction comes from my interest in people. Though her studies
                    into
                    people
                    and their experiences with visual concepts, Isabel realized people perceptions changes the way they
                    experiences
                    the world. Through her work in Fashion and Advertising, she quickly realized how technology and
                    user's
                    experience with technology motivates even the most human experiences: maintaining relationships to
                    expressing our every triumphs and tribulations. And what captivates Isabel most about people is the
                    cyclical
                    relationship we have with designing these technologies: we shape them, and they shape us.
                </p>
            </div>
            <div class="col-3 Derek team">
                <img src="/imgs/profilepic/derek.jpg" class="profilePic">
                <p class="teamName">Derek</p>
                <p class="description">
                    Dead men tell no tales grog scuppers Pieces of Eight scuttle no prey, no pay Shiver me timbers avast
                    brigantine lass swing the lead sutler lugsail crow's nest poop deck boom booty topmast parley hang
                    the
                    jib
                    chase guns snow gunwalls hearties splice the main brace fire ship gangplank landlubber or just
                    lubber
                    bucko
                    scourge of the seven seas keel furl main sheet killick belay bounty gaff topgallant spyglass fire in
                    the
                    hole me case shot gun run a rig Cat o'nine tails Yellow Jack hulk knave Privateer yawl walk the
                    plank ho
                    reef Buccaneer carouser chase measured fer yer chains fathom ballast spike swab salmagundi grog
                    blossom
                    ahoy
                    Jack Ketch Pirate Round hogshead aye crimp interloper dance the hempen jig provost bilge gabion
                    Jolly
                    Roger
                    plunder hands Gold Road execution dock capstan Barbary Coast Nelsons folly Sink me ye chandler Chain
                    Shot
                    tackle coffer code of conduct starboard jib piracy take a caulk bilge water run a shot across the
                    bow
                    port
                    line boatswain square-rigged warp.
                </p>
            </div>
            <div class="col-3 Syeda team">
                <img src="/imgs/profilepic/syeda.jpg" class="profilePic">
                 <p class="teamName">Syeda</p>
                <p class="description">
                    Dead men tell no tales grog scuppers Pieces of Eight scuttle no prey, no pay Shiver me timbers avast
                    brigantine lass swing the lead sutler lugsail crow's nest poop deck boom booty topmast parley hang
                    the
                    jib
                    chase guns snow gunwalls hearties splice the main brace fire ship gangplank landlubber or just
                    lubber
                    bucko
                    scourge of the seven seas keel furl main sheet killick belay bounty gaff topgallant spyglass fire in
                    the
                    hole me case shot gun run a rig Cat o'nine tails Yellow Jack hulk knave Privateer yawl walk the
                    plank ho
                    reef Buccaneer carouser chase measured fer yer chains fathom ballast spike swab salmagundi grog
                    blossom
                    ahoy
                    Jack Ketch Pirate Round hogshead aye crimp interloper dance the hempen jig provost bilge gabion
                    Jolly
                    Roger
                    plunder hands Gold Road execution dock capstan Barbary Coast Nelsons folly Sink me ye chandler Chain
                    Shot
                    tackle coffer code of conduct starboard jib piracy take a caulk bilge water run a shot across the
                    bow
                    port
                    line boatswain square-rigged warp.
                </p>
            </div>
            <div class="col-3 Will team">
                <img src="/imgs/profilepic/will.jpg" class="profilePic">
                 <p class="teamName">William</p>
                <p class="description">
                    Dead men tell no tales grog scuppers Pieces of Eight scuttle no prey, no pay Shiver me timbers avast
                    brigantine lass swing the lead sutler lugsail crow's nest poop deck boom booty topmast parley hang
                    the
                    jib
                    chase guns snow gunwalls hearties splice the main brace fire ship gangplank landlubber or just
                    lubber
                    bucko
                    scourge of the seven seas keel furl main sheet killick belay bounty gaff topgallant spyglass fire in
                    the
                    hole me case shot gun run a rig Cat o'nine tails Yellow Jack hulk knave Privateer yawl walk the
                    plank ho
                    reef Buccaneer carouser chase measured fer yer chains fathom ballast spike swab salmagundi grog
                    blossom
                    ahoy
                    Jack Ketch Pirate Round hogshead aye crimp interloper dance the hempen jig provost bilge gabion
                    Jolly
                    Roger
                    plunder hands Gold Road execution dock capstan Barbary Coast Nelsons folly Sink me ye chandler Chain
                    Shot
                    tackle coffer code of conduct starboard jib piracy take a caulk bilge water run a shot across the
                    bow
                    port
                    line boatswain square-rigged warp.
                </p>
            </div>
        </div>
    </section>
    <section class="container-fluid socialFooter">
            <img src="/imgs/join-the-click.png" class="joinClick">
            <p class="enterApp"><a id="login" src="/login">Log In</a> | <a id="signup" src="/signup">Sign Up</a></p>
    </section>
