{{!-- router.get('/lovequiz', function(req, res) {
    res.render('initial-quiz', {layout: 'initial.handlebars'});
}); --}}
<section class="about-header padding container">
    <p class="title">About Click</p>
    <p class="subtitle">Finding Love that Clicks</p>
</section>

<section class="purpose padding container">
    <p class="problem">Finding love is hard, even for celebrities. Celebrities are experts in thier field, but are
        only
        a fraction of the experts in the world. We want to connect experts, both celebrities and connoisseurs in
        their
        an industry, together.</p>
    <p class="solution">CLICK is building a community that allows you to find your "click" within industries that
        you
        are knowledgable about. Among the plethora of dating apps, <span class="emphesis">we lose quality</span>. With
        our unique entry quiz that is
        shaped to the common interest people are looking for, we use a common interest and baseline knowledge as a
        springboard to finding love. For the priliminary application, we focused on the commonality and love for
        technology. We bring together experts and celebrities wtihin the technological industry for the potential of
        finding love. Future development would allow users to choose a specific industry or hobby, complete a short
        quiz, and be free to find their click.</p>
</section>

<section class="team padding container-fluid">
    <div class="row">
        <h1 class="teamTitle">Meet The Clique</h1>
    </div>
    <div class="row">
        <div class="col-3 Isabel team">
            <img src="/imgs/profilepic/isabel.jpg" class="profilePic">
            <p class="teamName">Isabel</p>
            <p class="description-team">
                Isabel's interest in Human-Computer Interaction comes from my interest in people. Though her studies
                into
                people
                and their experiences with visual concepts, Isabel realized people perceptions changes the way they
                experiences
                the world. Through her work in Fashion and Advertising, she quickly realized how technology and
                user's
                experience with technology motivates even the most human experiences: maintaining relationships to
                expressing our every triumphs and tribulations. And what captivates Isabel most about people is the
                cyclical
                relationship we have with designing these technologies: we shape them, and they shape us.
            </p>
        </div>
        <div class="col-3 Derek team">
            <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/29196828_10160213104105341_4302447926438789120_n.jpg?_nc_cat=107&_nc_oc=AQnVgyan_6N5xkJxGp7X8EYoI209COjqa5c5O-JWDIBW7KWD9Ni002gkF3xJ_wmdq2o&_nc_ht=scontent-lax3-1.xx&oh=5a7122fb7bb584c53c4cff90cb7695b8&oe=5DFB41EE"
                class="profilePic">
            <p class="teamName">Derek</p>
            <p class="description-team">
                Cake candy canes wafer cookie tart. Jelly-o I love I love pudding halvah cotton candy. Pastry
                marshmallow biscuit halvah fruitcake topping cake cake danish.

                Candy tart lemon drops cotton candy pudding powder donut croissant. Halvah bonbon soufflé I love gummies
                chocolate cake candy canes sweet roll. Pie halvah ice cream cotton candy gummies I love brownie.

                Halvah soufflé cupcake chocolate bar. Halvah cupcake I love bonbon. Pastry wafer croissant carrot cake
                soufflé gingerbread jelly-o I love toffee.

                I love cake caramels I love cotton candy icing. Lollipop sweet roll candy chocolate bar I love tootsie
                roll I love donut. Oat cake I love toffee jujubes tiramisu cheesecake.
            </p>
        </div>
        <div class="col-3 Syeda team">
            <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/19756922_1561693017215298_7388285950245405619_n.jpg?_nc_cat=109&_nc_oc=AQlk4fkJ9VDVXVbmXVW_VdFqSXRcx9CRLh_kqeNzlPOdsJpU1Nidc6WG_2ozX1rJM0g&_nc_ht=scontent-lax3-1.xx&oh=380f517cadcb16b788a40efbdd95486f&oe=5DF35AD2"
                class="profilePic">
            <p class="teamName">Syeda</p>
            <p class="description-team">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.

                Dragée liquorice cotton candy cotton candy candy croissant lollipop. Cheesecake I love dragée cake
                chocolate bar toffee liquorice pie. Sweet candy canes candy canes cupcake I love liquorice wafer
                gingerbread.
            </p>
        </div>
        <div class="col-3 Will team">
            <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/37105_4266926436718_479436377_n.jpg?_nc_cat=108&_nc_oc=AQmVtW0nz8-7mZli7tfYU0Ex0waBkC8DzHDdyH8Ga8Yikpv1uHPrruO5bBio86Yqjno&_nc_ht=scontent-lax3-1.xx&oh=4a9bdd17f6ad691ce53ebc0cf887795c&oe=5E3772A3"
                class="profilePic">
            <p class="teamName">William</p>
            <p class="description-team">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
                Sugar plum sweet biscuit sweet apple pie marshmallow halvah I love. I love chupa chups sugar plum.
                Danish bear claw cheesecake cookie brownie pastry soufflé I love.
            </p>
        </div>
    </div>
</section>
<section class="container-fluid joinFooter">
    <img src="/imgs/join-the-click.png" class="joinClick">
    <p class="enterApp"><a id="login" href="/">Log In</a> | <a id="signup" href="/signup">Sign Up</a></p>
</section>