{{!-- router.get('/lovequiz', function(req, res) {
    res.render('initial-quiz', {layout: 'initial.handlebars'});
}); --}}
<section class="about-header padding container">
    <p class="title">About Click</p>
    <p class="subtitle">Finding Love that Clicks</p>
</section>

<section class="purpose padding container">
    <p class="problem">Finding love is hard, even for celebrities. Celebrities are experts in thier field, but are
        only
        a fraction of the experts in the world. We want to connect experts, both celebrities and connoisseurs in
        their
        an industry, together.</p>
    <p class="solution">CLICK is building a community that allows you to find your "click" within industries that
        you
        are knowledgable about. Among the plethora of dating apps, <span class="emphesis">we lose quality</span>. With
        our unique entry quiz that is
        shaped to the common interest people are looking for, we use a common interest and baseline knowledge as a
        springboard to finding love. For the priliminary application, we focused on the commonality and love for
        technology. We bring together experts and celebrities wtihin the technological industry for the potential of
        finding love. Future development would allow users to choose a specific industry or hobby, complete a short
        quiz, and be free to find their click.</p>
</section>

<section class="team padding container-fluid">
    <div class="row">
        <h1 class="teamTitle">Meet The Clique</h1>
    </div>
    <div class="row">
        <div class="col-3 Isabel team">
            <img src="/imgs/profilepic/isabel.jpg" class="profilePic">
            <p class="teamName">Isabel</p>
            <p class="description-team">
                Isabel's interest in Human-Computer Interaction comes from my interest in people. Though her studies
                into people and their experiences with visual concepts, Isabel realized people perceptions changes the
                way they
                experiences the world. Through her work in Fashion and Advertising, she quickly realized how technology
                and
                user's experience with technology motivates even the most human experiences: maintaining relationships
                to
                expressing our every triumphs and tribulations. And what captivates Isabel most about people is the
                cyclical relationship we have with designing these technologies: we shape them, and they shape us.
            </p>
        </div>
        <div class="col-3 Derek team">
            <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/29196828_10160213104105341_4302447926438789120_n.jpg?_nc_cat=107&_nc_oc=AQnVgyan_6N5xkJxGp7X8EYoI209COjqa5c5O-JWDIBW7KWD9Ni002gkF3xJ_wmdq2o&_nc_ht=scontent-lax3-1.xx&oh=5a7122fb7bb584c53c4cff90cb7695b8&oe=5DFB41EE"
                class="profilePic">
            <p class="teamName">Derek</p>
            <p class="description-team">
                Derek is a front-end master that can fix any CSS problem you face. His ambition and curiosity drives his
                creative reach. His ideas goes beyond short term quick ideas and push boundaries that bring any app into
                the future. Derek has the drive to learn and master any skill and the openness to learn from everyone
                around him. He thrives in an environment that pushed him and allows him to see and apply new skills.<br>
                <br> Don’t be fooled by Derek’s tranquil demeanor. He code is fierce!
            </p>
        </div>
        <div class="col-3 Syeda team">
            <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/19756922_1561693017215298_7388285950245405619_n.jpg?_nc_cat=109&_nc_oc=AQlk4fkJ9VDVXVbmXVW_VdFqSXRcx9CRLh_kqeNzlPOdsJpU1Nidc6WG_2ozX1rJM0g&_nc_ht=scontent-lax3-1.xx&oh=380f517cadcb16b788a40efbdd95486f&oe=5DF35AD2"
                class="profilePic">
            <p class="teamName">Syeda</p>
            <p class="description-team">
                Syeda is a jack of all trades, and a master of ALL! Every country she has lived in, Syeda has elegantly
                and gracefully picked up skills and learnings that has propelled her in every industry she has dipped
                her toe in. From biological chemistry to business management, Syeda is currently understanding the ways
                for front and back end development. Syeda thrives in challenging situations and loves breaking apart
                problems to finds solutions. She is the real problem solver. <br> <br> She takes every win with a
                graceful
                smile, but behind the mask there is a fierce coding warrior ready for any coding challenge.
            </p>
        </div>
        <div class="col-3 Will team">
            <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/37105_4266926436718_479436377_n.jpg?_nc_cat=108&_nc_oc=AQmVtW0nz8-7mZli7tfYU0Ex0waBkC8DzHDdyH8Ga8Yikpv1uHPrruO5bBio86Yqjno&_nc_ht=scontent-lax3-1.xx&oh=4a9bdd17f6ad691ce53ebc0cf887795c&oe=5E3772A3"
                class="profilePic">
            <p class="teamName">William</p>
            <p class="description-team">
                Will is the Master of Data. His love for backend end development is a slow burn, but he gravitated
                quickly to the intricacies and information architecture of CLICK. He an avid fan of sports and is
                excited for the extension of our sports interest areas of CLICK. His calm and relaxed demeanor ground
                this team, especially during the most frustrating times. Without Will, CLICK wouldn’t be where it is
                today.. <br> <br> He takes every win with a good joke that always brightens the room.
            </p>
        </div>
    </div>
</section>
<section class="container-fluid joinFooter">
    <img src="/imgs/join-the-click.png" class="joinClick">
    <p class="enterApp"><a id="login" href="/">Log In</a> | <a id="signup" href="/signup">Sign Up</a></p>
</section>