<section class="about-header container-fluid">
    <p class="title">About Click</p>
    <p class="subtitle">Finding Love that Clicks</p>
</section>

<section class="purpose container-fluid">
    <p class="problem"></p>
    <p class="solution"></p>
</section>

<section class="team container">
    <div class="col-3 Isabel team">
        <img src="" class="profilePic">
        <p class="description">

        </p>
    </div>
    <div class="col-3 Derek team">
        <img src="" class="profilePic">
        <p class="description">

        </p>
    </div>
    <div class="col-3 Syeda team">
        <img src="" class="profilePic">
        <p class="description">

        </p>
    </div>
    <div class="col-3 Will team">
        <img src="" class="profilePic">
        <p class="description">

        </p>
    </div>
</section>

<section class="container-fluid socialFooter">
    <div class="row">
        <img src="/imgs/join-the-click.png" class="joinClick">
        <p><a src="/login">Log In</a> | <a src="/signup">Sign Up</a></p>
    </div>
</section>