{{!-- router.get('/lovequiz', function(req, res) {
    res.render('categories', {layout: 'inital.handlebars'});
}); --}}

<div class='container'>
    <div class='row'>
        <button type="button" class="sectionbutton coding" onclick="location.href = '/my-profile'">
            Coding
        </button>
        <button type="button" class="sectionbutton">
            Basketball <br>
            <span class="comingSoon">Coming Soon</span>
        </button>
    </div>
    <div class='row'>
        <button type="button" class="sectionbutton">
            Dance <br>
            <span class="comingSoon">Coming Soon</span>
        </button>
        <button type="button" class="sectionbutton">
            Comedy Movies <br>
            <span class="comingSoon">Coming Soon</span>
        </button>
    </div>
    <div class='row'>
        <button type="button" class="sectionbutton">
            Improv <br>
            <span class="comingSoon">Coming Soon</span>
        </button>
        <button type="button" class="sectionbutton">
            Alcohol and Spirits <br>
            <span class="comingSoon">Coming Soon</span>
        </button>
    </div>
</div>