{{!-- router.get('/lovequiz', function(req, res) {
    res.render('initial-quiz', {layout: 'inital.handlebars'});
}); --}}

<div class="container">
    <section class="trivia-border">
        <h2 class="title-inital-quiz">Test Your Knowledge </h2>
        <h1 class="title-inital-quiz">Unlock Potential Love</h1>
        <div id="section_grey_line"></div>
        <!--<img id="about_me_image" src="assets/images/about_me.png" alt="Me">-->
        <form action="/">
            <!--<input type="text" name="firstname" class="input-box" style="width: 300px;">-->
            <label class="quiz-question">Question 1: Which of the following is not a framework?</label>

            <select name="statement" class="qa1 answer">
                <option value="qa1a">a) jQuery</option>
                <option value="qa1b">b) .NET</option>
                <option value="qa1c">c) JavaScript</option>
                <option value="qa1d">d) Cocoa</option>
            </select>
            <br>
            <div id="section_grey_line"></div>
            <label class="quiz-question">Question 2: Which of the following is an event emitter?</label>

            <select name="valid" class="qa2 answer" >
                <option value="qa2a">a) once</option>
                <option value="qa2b">b) process</option>
                <option value="qa2c">c) listeners</option>
                <option value="qa2d">d) on</option>
            </select>
            <br>
            <div id="section_grey_line"></div>
            <label class="quiz-question">Question 3: What is it called when we make a mistake in the script?</label>

            <select name="method" class="qa3 answer" >
                <option value="qa3a">a) error</option>
                <option value="qa3b">b) bug</option>
                <option value="qa3c">c) mistake</option>
                <option value="qa3d">d) debug</option>
            </select>
            <br>
            <div id="section_grey_line"></div>
            <label class="quiz-question">Question 4: What is the method used to pause "data" events?</label>

            <select name="cars" class="qa4 answer">
                <option value="qa4a">a) s.pause();</option>
                <option value="qa4b">b) s.stop();</option>
                <option value="qa4c">c) s.halt();</option>
                <option value="qa4d">d) s.wait();</option>
            </select>
            <br>
            <div id="section_grey_line"></div>
            <button class="button initial-quiz-submit"><span>Submit</span></button>
            <!--<input type="submit">-->
        </form>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-alert-title">Oops! Looks like you didn't answer the quiz correctly.
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                CLICK is building a community that allows you to find your "click" within industries that you are
                knowledgable about. With our unique entry quiz is the spring board to finding love. Looks like you might
                not be the right fit. <br> <br> Please try again.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-btnClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>