<div class="container-fluid">
    <iframe src='https://minnit.chat/clickchatroom?embed&&nickname=' class="chatroom col-12"
        style='border:none;width:100%;height:700px;' allowTransparency='true'></iframe>
</div>