{{!-- router.get('/profile-quiz', function(req, res) {
    res.render('profile-setup', {layout: 'survey.handlebars'});
}); --}}

<div class="container profile-setup" id="main_block">
    <section>
        <h2 class="profileSetUp-Title">About You</h2>
        <div id="section_grey_line"></div>
        <!--<img id="about_me_image" src="assets/images/about_me.png" alt="Me">-->
        <form action="/api/userprofile" class="labelTitle">
            <div class="form-row">
                <p class="label">First Name:</p>
                <input type="text" name="firstname" class="input-box firstNameInput">
                <p class="label">Last Name:</p>
                <input type="text" name="lastname" class="input-box lastNameInput ">

                <p class="label">Age:</p>
                <input type="text" name="age" class="input-box ageInput">

                <p class="label">Gender:</p>
                <select class="form genderInput">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="transgender">Transgender</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-row">
                <p class="label">Location:</p>
                <input type="text" name="locationCity" placeholder="City" class="input-box location">
                <input type="text" name="locationState" placeholder="State" class="input-box location">
                <br>

                <p class="label">Alcohol Consumption:</p>
                <select class="form">
                    <option selected>Select Frequency</option>
                    <option value="never">Never</option>
                    <option value="occasionally">Occasionally</option>
                    <option value="socially">Socially</option>
                    <option value="all_day_everyday">All Day Everyday</option>
                </select>
            </div>
            <div class="form-row row row">
                <p class="label">Short Description:</p>
                <textarea rows="4" cols="50"
                    placeholder="What would you like others to know about you? What is your ideal first date?"
                    class="shortDesc"></textarea>
            </div>
            <div class="form-row">
                <p class="label">Profile Image Link:</p>
                <input type="text" name="imageURL" class="input-box imageurl" placeholder="http://">
            </div>

            {{!-- PREFERENCE QUIZ BELOW --}}

            <h2 class="profileSetUp-Title">Preferences</h2>
            <p class="label">Gender:</p>
            <select class="genderPref">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="transgender">Transgender</option>
                <option value="other">Other</option>
            </select>
            <div id="section_grey_line"></div>
            <p class="label">Age:</p>
            <select class="agePrefMin">
                <option value="minimum">Min</option>
                <option value="eighteen">18</option>
                <option value="twenty_five">25</option>
                <option value="thirty_two">32</option>
                <option value="thirty_nine">39</option>
                <option value="forty_six">46</option>
                <option value="fifty_three">53</option>
                <option value="sixty">60</option>
                <option value="sixty_seven">67</option>
                <option value="seventy_four">74</option>
                <option value="eighty_one">81</option>
                <option value="eighty_eight">88</option>
                <option value="one_hundred">100</option>
            </select>
            <select class="agePrefMax">
                <option value="maximum">Max</option>
                <option value="twenty_four">24</option>
                <option value="thirty_one">31</option>
                <option value="thirty_eight">38</option>
                <option value="forty_five">45</option>
                <option value="fifty_two">52</option>
                <option value="fifty_nine">59</option>
                <option value="sixty_six">66</option>
                <option value="seventy_three">73</option>
                <option value="eighty">80</option>
                <option value="eighty_seven">87</option>
                <option value="ninty_four">94</option>
                <option value="one_hundred_plus">100+</option>
            </select>
            <p class="label">Height:</p>
            <p class="label">Minimum:</p>
            <select class="heightPrefMinFt">
                <option value="feet">(ft)</option>
                <option value="four">4</option>
                <option value="five">5</option>
                <option value="six">6</option>
                <option value="seven">7</option>
                <option value="eight">8</option>
            </select>
            <select class="heightPrefMinInch">
                <option value="inches">(in)</option>
                <option value="zero">0</option>
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
                <option value="five">5</option>
                <option value="six">6</option>
                <option value="seven">7</option>
                <option value="eight">8</option>
                <option value="nine">9</option>
                <option value="eleven">10</option>
                <option value="twelve">11</option>
            </select>
            <br>
            <p class="label">Maximum:</p>
            <select class="heightPrefMaxFt">
                <option value="feet">(ft)</option>
                <option value="four">4</option>
                <option value="five">5</option>
                <option value="six">6</option>
                <option value="seven">7</option>
                <option value="eight">8</option>
            </select>
            <select class="heightPrefMaxInch">
                <option value="inches">(in)</option>
                <option value="zero">0</option>
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
                <option value="five">5</option>
                <option value="six">6</option>
                <option value="seven">7</option>
                <option value="eight">8</option>
                <option value="nine">9</option>
                <option value="eleven">10</option>
                <option value="twelve">11</option>
            </select>
            <br>
            <p class="label"> Alcohol Consumption:</p>
            <select class="alcoholPref">
                <option value="never">Never</option>
                <option value="occasionally">Occasionally</option>
                <option value="socially">Socially</option>
                <option value="all_day_everyday">All Day Everyday</option>
            </select>
            <br>
            <button class="button"><span>Submit</span></button>
            <!--<input type="submit">-->
        </form>
    </section>
</div>