{{!-- router.get('/profile-setup', function(req, res) {
    res.render('profile-setup', {layout: 'survey.handlebars'});
}); --}}

<div class="container profile-setup" id="main_block">
    <section class="profileSetUp">
        <form class="labelTitle">
            <h2 class="profileSetUp-Title">About You</h2>

            <div class="section">
                <div class="form-row row">
                    <p class="label">First Name:*</p>
                    <input type="text" name="firstname" class="input-box firstNameInput nameInput">
                    <p class="label">Last Name:*</p>
                    <input type="text" name="lastname" class="input-box lastNameInput nameInput">

                    <p class="label">Age:*</p>
                    <input type="text" name="age" class="input-box ageInput">

                    <p class="label">Gender:*</p>
                    <select class="form genderInput">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Transgender">Transgender</option>
                        <option value="Other">Other</option>
                    </select>

                    <p class="label ">Height:*</p>
                    <select class="heightInputFt form prefDrop">
                        <option value="5">(ft)</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <select class="heightInputInch form prefDrop">
                        <option value="0">(in)</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                    </select>
                    <p class="label">Location:*</p>
                    <input type="text" name="locationCity" placeholder="City" class="input-box locationInput cityInput">
                    <input type="text" name="locationState" placeholder="State"
                        class="input-box locationInput stateInput">
                    <br>
                    <p class="label">Alcohol Consumption:</p>
                    <select class="form alcoholInput">
                        <option value="Would not like to disclose" select>Select</option>
                        <option value="Never">Never</option>
                        <option value="Ocasionally">Occasionally</option>
                        <option value="Socially">Socially</option>
                        <option value="All_Day_Everyday">All Day Everyday</option>
                    </select>
                    <p class="label">Zodiac: </p>
                    <select class="form zodiacInput">
                        <option selected value="Checking the Stars">Select Zodiac</option>
                        <option value="Aries">Aries</option>
                        <option value="Taurus">Taurus</option>
                        <option value="Gemini">Gemini</option>
                        <option value="Cancer">Cancer</option>
                        <option value="Leo">Leo</option>
                        <option value="Virgo">Virgo</option>
                        <option value="Libra">Libra</option>
                        <option value="Scorpio">Scorpio</option>
                        <option value="Sagittarius">Sagittarius</option>
                        <option value="Capricorn">Capricorn</option>
                        <option value="Aquarius">Aquarius</option>
                        <option value="Pisces">Pisces</option>
                    </select>
                    <p class="label">Ethnicity: </p>
                    <input type="text" name="ethnicity" class="input-box ethnicityInput">

                    <p class="label">Job Position:</p>
                    <input type="text" name="job-position" class="input-box jobInput positionInput">

                    <p class="label">Company:</p>
                    <input type="text" name="job-company" class="input-box jobInput companyInput">

                </div>
                <div class="form-row">
                    <p class="label">Interests: </p>

                    <input type="text" name="input1" id="input1" class="input-box interestInput"
                        placeholder="What is your favorite cuisine?">
                    <input type="text" name="input2" id="input2" class="input-box interestInput"
                        placeholder="Who is someone you would want to meet (dead or alive)?">
                    <input type="text" name="input3" id="input3" class="input-box interestInput"
                        placeholder="Do you have pets?">
                    <input type="text" name="input4" id="input4" class="input-box interestInput"
                        placeholder="What is the most spontaneos thing you have done?">
                    <input type="text" name="input5" id="input5" class="input-box interestInput"
                        placeholder="What is your ideal date?">
                </div>
                <div class="form-row row row">
                    <p class="label">Short Description:</p>
                    <textarea rows="4" cols="50"
                        placeholder="What would you like others to know about you? What is your ideal first date?"
                        class="shortDescInput" maxlength="600"></textarea>
                </div>
                <div class="form-row">
                    <p class="label">Profile Image Link:</p>
                    <input type="text" name="imageURL" class="input-box imageurl" placeholder="http://"
                        data-value="/imgs/no-image-image">
                </div>
            </div>
            <button class="button" id="next-button-setup">Create Profile</button>
    <p class="profile-setup-note">* Required Field</p>
        </form>
    </section>
</div>