{{!-- router.get('/profile-quiz', function(req, res) {
    res.render('preference-quiz', {layout: 'survey.handlebars'});
}); --}}

<body>

    <div class="wrapper">

        <header>
            <div id="header_block">
                <!--<img id="logo_image" src="/" alt="Click Logo">
                <div id="header_name_text_block"><h1 id="header_name_text">Click</h1></div>
                <nav>
                    <div class="nav_link">
                        <p><a href="index.html">The App</a></p>
                    </div>
                    <div class="nav_vertical_bar"></div>
                    <div class="nav_link">
                        <p><a href="portfolio.html">My Profile</a></p>
                    </div>
                    <div class="nav_vertical_bar"></div>
                    <div class="nav_link">
                        <p><a href="contact.html">About</a></p>
                    </div>
                    <div class="nav_vertical_bar"></div>
                </nav>-->
            </div>
        </header>

        <div id="main_block">
            <section>
                <h2>About You</h2>
                <div id="section_grey_line"></div>
                <!--<img id="about_me_image" src="assets/images/about_me.png" alt="Me">-->
                <form action="/">
                    First Name:<br>
                    <input type="text" name="firstname" class="input-box">
                    <br>
                    <div id="section_grey_line"></div>
                    Last Name:<br>
                    <input type="text" name="lastname" class="input-box">
                    <br>
                    <div id="section_grey_line"></div>
                    Age:<br>
                    <input type="text" name="age" class="input-box">
                    <br>
                    <div id="section_grey_line"></div>
                    height:&nbsp;&nbsp; 
                    <select>
                        <option value="feet">(ft)</option>
                        <option value="four">4</option>
                        <option value="five">5</option>
                        <option value="six">6</option>
                        <option value="seven">7</option>
                        <option value="eight">8</option>
                    </select>
                    <select>
                        <option value="inches">(in)</option>
                        <option value="zero">0</option>
                        <option value="one">1</option>
                        <option value="two">2</option>
                        <option value="three">3</option>
                        <option value="four">4</option>
                        <option value="five">5</option>
                        <option value="six">6</option>
                        <option value="seven">7</option>
                        <option value="eight">8</option>
                        <option value="nine">9</option>
                        <option value="eleven">10</option>
                        <option value="twelve">11</option>
                    </select>
                    <br>
                    <div id="section_grey_line"></div>
                    Gender:
                    <select>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="transgender">Transgender</option>
                        <option value="other">Other</option>
                    </select>
                    <br>
                    <div id="section_grey_line"></div>
                    Location:<br>
                    <input type="text" name="location" placeholder="City, State" class="input-box">
                    <br>
                    <div id="section_grey_line"></div>
                    Alcohol Consumption:
                    <select>
                        <option value="never">Never</option>
                        <option value="occasionally">Occasionally</option>
                        <option value="socially">Socially</option>
                        <option value="all_day_everyday">All Day Everyday</option>
                    </select>
                    <br>
                    <div id="section_grey_line"></div>
                    Short Description:<br>
                    <textarea rows="4" cols="50"></textarea>
                    <br>
                    <div id="section_grey_line"></div>
                    Profile Image Link:<br>
                    <input type="text" name="location" class="input-box">
                    <br>
                    <div id="section_grey_line"></div>
                    <!--<button class="button"><span>Submit</span></button>-->
                    <!--<input type="submit">-->
                </form>
            </section>
        </div>

        <div id="preference_block">
            <section>
                <h2>Preference</h2>
                <div id="section_grey_line"></div>
                <form action="/">
                    Gender:
                    <select>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="transgender">Transgender</option>
                        <option value="other">Other</option>
                    </select>
                    <div id="section_grey_line"></div>
                    Age:
                    <select>
                        <option value="minimum">Min</option>
                        <option value="eighteen">18</option>
                        <option value="twenty_five">25</option>
                        <option value="thirty_two">32</option>
                        <option value="thirty_nine">39</option>
                        <option value="forty_six">46</option>
                        <option value="fifty_three">53</option>
                        <option value="sixty">60</option>
                        <option value="sixty_seven">67</option>
                        <option value="seventy_four">74</option>
                        <option value="eighty_one">81</option>
                        <option value="eighty_eight">88</option>
                        <option value="one_hundred">100</option>
                    </select>
                    <select>
                        <option value="maximum">Max</option>
                        <option value="twenty_four">24</option>
                        <option value="thirty_one">31</option>
                        <option value="thirty_eight">38</option>
                        <option value="forty_five">45</option>
                        <option value="fifty_two">52</option>
                        <option value="fifty_nine">59</option>
                        <option value="sixty_six">66</option>
                        <option value="seventy_three">73</option>
                        <option value="eighty">80</option>
                        <option value="eighty_seven">87</option>
                        <option value="ninty_four">94</option>
                        <option value="one_hundred_plus">100+</option>
                    </select>
                    <div id="section_grey_line"></div>
                    height:<br>
                    Minimum:&nbsp;
                    <select>
                        <option value="feet">(ft)</option>
                        <option value="four">4</option>
                        <option value="five">5</option>
                        <option value="six">6</option>
                        <option value="seven">7</option>
                        <option value="eight">8</option>
                    </select>
                    <select>
                        <option value="inches">(in)</option>
                        <option value="zero">0</option>
                        <option value="one">1</option>
                        <option value="two">2</option>
                        <option value="three">3</option>
                        <option value="four">4</option>
                        <option value="five">5</option>
                        <option value="six">6</option>
                        <option value="seven">7</option>
                        <option value="eight">8</option>
                        <option value="nine">9</option>
                        <option value="eleven">10</option>
                        <option value="twelve">11</option>
                    </select>
                    <br>
                    Maximum:
                    <select>
                        <option value="feet">(ft)</option>
                        <option value="four">4</option>
                        <option value="five">5</option>
                        <option value="six">6</option>
                        <option value="seven">7</option>
                        <option value="eight">8</option>
                    </select>
                    <select>
                        <option value="inches">(in)</option>
                        <option value="zero">0</option>
                        <option value="one">1</option>
                        <option value="two">2</option>
                        <option value="three">3</option>
                        <option value="four">4</option>
                        <option value="five">5</option>
                        <option value="six">6</option>
                        <option value="seven">7</option>
                        <option value="eight">8</option>
                        <option value="nine">9</option>
                        <option value="eleven">10</option>
                        <option value="twelve">11</option>
                    </select>
                    <br>
                    <div id="section_grey_line"></div>
                    Alcohol Consumption:
                    <select>
                        <option value="never">Never</option>
                        <option value="occasionally">Occasionally</option>
                        <option value="socially">Socially</option>
                        <option value="all_day_everyday">All Day Everyday</option>
                    </select>
                    <br>
                    <div id="section_grey_line"></div>
                    <button class="button"><span>Submit</span></button>
                    <!--<input type="submit">-->
                </form>

        </div>
    </div>
    <div class="push"></div>
    <footer>
        <div id="footer_line"></div>
    </footer>
</body>