{{!-- router.get('/profile-quiz', function(req, res) {
    res.render('profile-setup', {layout: 'survey.handlebars'});
}); --}}

<div class="container profile-setup" id="main_block">
    <section>
        <h2 class="titleAboutYou">About You</h2>
        <div id="section_grey_line"></div>
        <!--<img id="about_me_image" src="assets/images/about_me.png" alt="Me">-->
        <form action="/" class="labelTitle">
            <div class="form-row">
                <p class="label">First Name:</p>
                <input type="text" name="firstname" class="input-box name">
                <p class="label">Last Name:</p>
                <input type="text" name="lastname" class="input-box name ">

                <p class="label">Age:</p>
                <input type="text" name="age" class="input-box age">

                <p class="label">Gender:</p>
                <select class="form">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="transgender">Transgender</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-row">
                <p class="label">Location:</p>
                <input type="text" name="locationCity" placeholder="City" class="input-box location">
                <input type="text" name="locationState" placeholder="State" class="input-box location">
                <br>

                <p class="label">Alcohol Consumption:</p>
                <select class="form">
                    <option selected>Select Frequency</option>
                    <option value="never">Never</option>
                    <option value="occasionally">Occasionally</option>
                    <option value="socially">Socially</option>
                    <option value="all_day_everyday">All Day Everyday</option>
                </select>
            </div>
            <div class="form-row row row">
                <p class="label">Short Description:</p>
                <textarea rows="4" cols="50"
                    placeholder="What would you like others to know about you? What is your ideal first date?"
                    class="shortDesc"></textarea>
            </div>
            <div class="form-row">
                <p class="label">Profile Image Link:</p>
                <input type="text" name="imageURL" class="input-box imageurl" placeholder="http://">
            </div>
            <button class="button submit-button"><span>Submit</span></button>
            <!--<input type="submit">-->
            {{!-- PREFERENCE QUIZ BELOW --}}
            
        </form>
    </section>
</div>