{{!-- router.get('/results', function(req, res) {
    res.render('results-page', {layout: 'main.handlebars'});
}); --}}

<div class="container formDiv">
    <form class="form-inline">
        <label for="gender">Gender: </label>
        <select class="form-control" id="gender">
            <option selected>Select</option>
            <option>Male</option>
            <option>Female</option>
            <option>Transgender</option>
            <option>Other</option>
        </select>

        <label for="ageMin"> Minimum Age: </label>
        <select class="form-control" id="ageMin">
            <option selected>Min. Age:</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>31</option>
            <option>32</option>
            <option>33</option>
            <option>34</option>
            <option>35</option>
            <option>36</option>
            <option>37</option>
            <option>38</option>
            <option>39</option>
            <option>40</option>
            <option>41</option>
            <option>42</option>
            <option>43</option>
            <option>44</option>
            <option>45</option>
            <option>46</option>
            <option>47</option>
            <option>48</option>
            <option>49</option>
        </select>
        <label for="maxAge"> Minimum Age: </label>
        <select class="form-control" id="ageMax">
            <option selected>Max. Age:</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>31</option>
            <option>32</option>
            <option>33</option>
            <option>34</option>
            <option>35</option>
            <option>36</option>
            <option>37</option>
            <option>38</option>
            <option>39</option>
            <option>40</option>
            <option>41</option>
            <option>42</option>
            <option>43</option>
            <option>44</option>
            <option>45</option>
            <option>46</option>
            <option>47</option>
            <option>48</option>
            <option>49</option>
        </select>
        <label for="location">Location</label>
        <select class="form-control" id="location">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>
        <label for="heightFtMin heightInchMin ">Min Height:</label>
        <select class="form-control" id="heightFtMin">
            <option selected>Min. (Ft)</option>
            <option data-value="4">4'</option>
            <option data-value="5">5'</option>
            <option data-value="6">6'</option>
            <option data-value="7">7'</option>
        </select>
        <select class="form-control" id="heightInchMin">
            <option data-value="0" selected>Min. (Inch)</option>
            <option data-value="0">0''</option>
            <option data-value="1">1''</option>
            <option data-value="2">2''</option>
            <option data-value="3">3''</option>
            <option data-value="4">4''</option>
            <option data-value="5">5''</option>
            <option data-value="6">6''</option>
            <option data-value="7">7''</option>
            <option data-value="8">8''</option>
            <option data-value="9">9''</option>
            <option data-value="10">10''</option>
            <option data-value="11">11''</option>
        </select>

        <label for="heightFtMax heightInchMax ">Max Height:</label>
        <select class="form-control" id="heightFtMax">
            <option selected>Max. (Ft)</option>
            <option data-value="4">4'</option>
            <option data-value="5">5'</option>
            <option data-value="6">6'</option>
            <option data-value="7">7'</option>
        </select>
        <select class="form-control" id="heightInchMax">
            <option data-value="0" selected>Max. (Inch)</option>
            <option data-value="0">0''</option>
            <option data-value="1">1''</option>
            <option data-value="2">2''</option>
            <option data-value="3">3''</option>
            <option data-value="4">4''</option>
            <option data-value="5">5''</option>
            <option data-value="6">6''</option>
            <option data-value="7">7''</option>
            <option data-value="8">8''</option>
            <option data-value="9">9''</option>
            <option data-value="10">10''</option>
            <option data-value="11">11''</option>
        </select>

        <label for="Drink">Drink Frequency</label>
        <select class="form alcoholInput form-control" id="alcoholsearch">
            <option selected>Select Frequency</option>
            <option value="never">Never</option>
            <option value="occasionally">Occasionally</option>
            <option value="socially">Socially</option>
            <option value="all_day_everyday">All Day Everyday</option>
        </select>

        <button type="submit" class="btn btn-primary mb-2 " id="submit-button">CLICK</button>
    </form>
</div>

<section class="container">
    <div class="results row">
        {{#each results}}
        {{> results}}
        {{/each}}
    </div>
</section>

<!-- Connect Modal -->
<div class="modal fade" id="modal-connect" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-connect-header modal-header">
                <span class="modal-title" id="modal-connect-title">Your connection has been sent!</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-connect-body modal-body">
                Your connection was successfully clicked through! If they send you a connection, a new chat will open
                and you can see if you both "CLICK!" <br> <br> Please check back soon!
            </div>
            <div class="modal-connect-footer  modal-footer">
                <button type="button" class="btn btn-secondary modal-connect-btnClose"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>