{{!-- router.get('/signup', function(req, res) {
    res.render('signup', {layout: 'inital.handlebars'});
}); --}}

<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" />
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>

    <div>
        <button id="sign-inBtn" class="btn"> Sign In with An Existing Account </button>
    </div>

    <script type="text/javascript">
        $("#sign-inBtn").on("click", function () {
            $.ajax({
                method: "GET",
                url: "/",
            })
                .then(function () {
                    window.location.href = "/";
                });
        });
    </script>
 
</body>
 
</html>