<<<<<<< HEAD
{{!-- router.get('/', function(req, res) {
    res.render('signin', {layout: 'initial.handlebars'});
}); --}}

<form id="signin" name="signin" method="post" action="signin">
    <label for="email">Email Address</label>
    <input class="text" name="email" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Sign In" />
</form>
=======
<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>

    <div>
        <button id="sign-upBtn" class="btn"> Click here to create an Account </button>
    </div>

    <script type="text/javascript">
        $("#sign-upBtn").on("click", function () {
            $.ajax({
                method: "GET",
                url: "/signup",
            })
                .then(function () {
                    window.location.href = "/signup";
                });
        });
    </script>


</body>

</html>
>>>>>>> 87db35c391572a341a87e6ab2bb1927434ab6b96
