:root {
    --title-font: 'Rubik', sans-serif;
    /* weight: 400,500,900 */
    --text-font: 'Cormorant', serif;
    /* weight: 400, 400i, 500, 700 */
    --black: #1f282f;
    --grey: #7e8891;
    --light-pink: #f0cecd;
    --med-pink: #d57a77;
    --dark-pink: #923226;
  }

  /* modal */

  .modal-header {
    font-family: var(--title-font);
    color: var(--dark-pink);
    background: var(--light-pink)
  }
  
  .modal-body {
    color: var(--black);
    font-family: var(--text-font);
  }

.modal-btnClose {
  background: var(--grey);
  font-family: var(--title-font);
  color: white;
  
}  

.modal-btnClose:hover {
  background: var(--black);
  color: var(--light-pink)
}  

/* declarations for main section */
.question {
  font-family: var(--title-font);
  color: var(--grey);
  font-weight: 500;
}

.title-inital-quiz {
  font-family: var(--text-font);
  padding: 10px;
  text-align: center;
  background: var(--med-pink);
  color: white;
  font-weight: 700;
  font-size: 30px;
  border-radius: 10px;
}

.trivia-border, aside {
	background: #ffffff;
	border: 3px solid var(--grey);
	width: 960px;
    padding: 40px 30px 30px 30px;
    border-radius: 15px 15px 15px 15px;
  margin: 80px auto;
}

p {
	line-height: 190%;
}

#section_grey_line {
	background: grey;
	height: 3px;
	margin: 30px 0 20px 0;
}

  .button {
    border-radius: 4px;
    background-color: var(--light-pink);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    /*padding: 20px;*/
    padding: 10px 25px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button:hover {
    background: var(--dark-pink)
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .answer {
    font-family: var(--text-font);
    font-size: 20px;
    width: 100%;
    background-color: white;
    border: 2px solid var(--light-pink);
    color: var(--black);
    padding: 10px;
  }

  .answer:hover{
    border: 2px solid var(--med-pink);
  }

  input.input-box, textarea { background:beige;
}