:root {
    --title-font: 'Rubik', sans-serif;
    /* weight: 400,500,900 */
    --text-font: 'Cormorant', serif;
    /* weight: 400, 400i, 500, 700 */
    --black: #1f282f;
    --grey: #7e8891;
    --light-pink: #f0cecd;
    --med-pink: #d57a77;
    --dark-pink: #923226;
}

.formDiv {
    background: var(--light-pink);
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding: 20px 20px;
}


label {
    padding-left: 20px;
}
.form-control {
    margin: 10px auto;
    border: 1px solid var(--dark-pink);
    background: rgba(255, 255, 255, 0.493);
    font-family: var(--title-font);
    color:var(--grey);
    font-size: 12px;
}

#gender, #drink {
    width: 100px;
    height: 30px;
}

#ageMin, #ageMax, #heightFtMin, #heightInchMin, #heightFtMax, #heightInchMax {
    width: 120px;
    height: 30px;
}

#location {
    width: 200px;
    height: 30px;
}

#submit-button {
    margin: 10px auto;
    width: 33%;
    height: 30px;
    font-family: var(--title-font);
    font-weight: 500;
    background: var(--grey);
    color: white;
    border: none;
    font-size: 13px;
}

#submit-button:hover {
    background: var(--dark-pink);
}


/* _____ INT RESULT CSS ______ */

.ind-result {
    margin: 20px 0px;
    width: 100%;
   
    border: 10px solid white, 
}
.imageDiv {
    width: 100%;
    /* height: 400px; */
    background-color: var(--light-pink);
}

.resultImage{
    width: 100%;
}

.nameage, .location {
    color: var(--black);
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 10px 10px;
}

.result-info-short {
    border: 5px solid var(--grey);
    text-align: center;
}

.result-info-short:hover {
    border: 5px solid var(--med-pink)
}

.result-button {
    background: var(--dark-pink);
    color: white;
    font-family: var(--title-font);
    margin: 10px auto;
    width: 40%
}

.result-button:hover {
    background: var(--light-pink);
    color:var(--dark-pink);
}



/* ---------- modal */

.modal-connect-header {
    font-family: var(--title-font);
    color: var(--dark-pink);
    background: var(--light-pink)
}

.modal-connect-body {
    color: var(--black);
    font-family: var(--text-font);
  }

.modal-connect-btnClose {
  background: var(--grey);
  font-family: var(--title-font);
  color: white;
  
}  

.modal-connect-btnClose:hover {
  background: var(--black);
  color: var(--light-pink)
} 

