:root {
  --title-font: 'Rubik', sans-serif;
  /* weight: 400,500,900 */
  --text-font: 'Cormorant', serif;
  /* weight: 400, 400i, 500, 700 */
  --black: #1f282f;
  --grey: #7e8891;
  --light-pink: #f0cecd;
  --med-pink: #d57a77;
  --dark-pink: #923226;
}

.profileContainer {
  margin: 40px auto;
  margin-bottom: 10px;
}

/* VISUAL */
#profileImage {
  border: 5px solid var(--light-pink);
  margin: 10px 25px;
  height: 470px;
}

.matchInfo {
  margin: 20px 20px;
  padding: 30px 30px;
  border: 5px solid var(--med-pink);
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 19px;
  width: 100%;
}

.info {
  padding: 5px 0px;
}

.infoTitle {
  font-weight: 700;
}

.decriptionTitle{
  margin: 40px 20px 0px 20px;
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 30px;
}

.decription {
  background: var(--grey);
  padding: 40px 40px;
  width: 100%;
  height: 200px;
  margin: 0px 20px 30px 20px;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 18px;
}