:root {
    --title-font: 'Rubik', sans-serif;
    /* weight: 400,500,900 */
    --text-font: 'Cormorant', serif;
    /* weight: 400, 400i, 500, 700 */
    --black: #1f282f;
    --grey: #7e8891;
    --light-pink: #f0cecd;
    --med-pink: #d57a77;
    --dark-pink: #923226;
  }

.signupDIV, .signinDIV {
    text-align: center;
}

.titleSign {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 23px;
    margin: 20px 10px;
    color: var(--dark-pink);
}

#signin, #signup {
    margin: 0px auto;
    margin-top: 250px;
}

.text {
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 20px;
}

label {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 18px;
    margin: 15px 10px;
}

#signUpBtn, #signInBtn {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 15px;
    color: white;
    background: var(--light-pink);
    border-radius: 5px;
    margin: 15px;
}

#signUpBtn:hover, #signInBtn:hover {
    background: var(--med-pink);
}

.emailEntry {
    width: 200px;
}

.createAccount, .signIn {
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 15px;
    color: var(--med-pink);
}

.createAccount:hover, .signIn:hover {
    color: var(--dark-pink);
}



